<template>
  <footer class="footer fixed-bottom text-white bg-dark">
    <div class="py-2 d-flex justify-content-center">
      <span v-text="$t('global.title')"><%= baseName %></span> &nbsp; Copyright © 2019 All rights reserved.
    </div>
  </footer>
</template>

<script lang="ts" src="./jhi-footer.component.ts">
</script>

<style scoped>
    .footer {
        text-align: left;
    }
</style>
